// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin flex {
  display: flex;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

@mixin error-color {
  color: orangered;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;

  header {
    @include flex;
    height: 3em;
    width: 100%;
    background-color: #95c5ed;
    @include shadow;

    .logo {
      h2 {
        margin: 0.2em 1em;
      }
    }

    .header-links > a {
      color: #636b6f;
      padding: 1em;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .flex {
    @include flex;
  }

  .items-right {
    margin-left: auto;
  }

  .items-under {
    margin-top: auto;
  }

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .content {
    text-align: center;
    padding: 2em;

    .contents-box {
      @include flex-column;
      @include shadow;
      padding: 2em 1em 3em;

      .contents-header {
        @include flex;
        padding-bottom: 1em;
        border-bottom: double 8px lightblue;
        margin-bottom: 1.5em;
      }

      .content-title {
        margin-right: auto;
        margin-left: 2em;
      }

      form {
        @include flex-column;
        table {
          margin: 0 2em;
          @include flex;

          th {
            padding: 1em;
          }

          td {
            padding: 0.5em;

              .error_msg {
                @include flex;

                margin-right: auto;
                @include error-color;
            }
          }
        }

        .error-content {
          @include error-color;
          margin-right: auto;
          margin-left: 2em;
          position: absolute;
        }
      }
    }
  }

  .auth {
    @extend .content;
    padding: 4em 18em 4em;

    .sentence {
      margin: 3em;
    }

    table {
      margin: 2em;

      i {
        text-align: right;
        padding-right: 0.2em;
      }

      th {
        height: 4em;
        text-align: left;
      }

      td {
        .error_msg {
          @include flex;

          margin-right: auto;
          @include error-color;
        }
      }
    }
  }
}